body{
    background-color: #d6d5d5;
}

h1{
    color: #fff;
    background-color: #1833a0;
    font-family: Calibri ;
    text-align: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px; 
}

#seitenbereich{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align:left;  
  margin: 0 auto;   
  width: 1000px;
  background-color: #fff;
}
article{
   margin-left: 10px;
}


footer {
    color: #808080;
    margin-top: 200px;
}
#footertext{
    margin-left: 10px;
}
